{{#if banner}}
  <div class="banner-content">
    <div class="banner-announcement">{{banner.announcement}}</div>
    {{#if banner.button_text}}
      <div class="banner-button">
        {{d-button
          class="btn-primary"
          action="navigateToLink"
          label=banner.button_text
        }}
      </div>
    {{/if}}
  </div>
{{/if}}