{{#if this.banner}}
  <div class="banner-content">
    <div class="banner-title">{{this.banner.title}}</div>
    {{#if this.banner.button_text}}
      <div class="banner-button">
        {{d-button
          class="btn-primary"
          action="navigateToLink"
          label=this.banner.button_text
        }}
      </div>
    {{/if}}
  </div>
{{/if}} 